async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
youtube-dl

motor
aiohttp
aiofiles
pytz
ffmpeg
umongo
speedtest-cli
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
ffprobe


pyrogram
asyncio
humanize
uvloop


pyrogram
umongo
speedtest-cli
